@charset "utf-8";
/* CSS Document */
.container_category{
	height: 600px;
	width: 1200px;
	margin: auto;
	font-family: sans-serif;
	border: solid thin #DDDDDD;
	border-radius: 6px;
	position: relative;
	box-shadow: 0 0 3px;
	background: #FFFFFF; 
}
.container_category .container_promotion{
	height: 40px;
	width: inherit;
	padding: 10px;
}
.container_category .container_promotion .poromotion_title h2{
	color: #C80A0D;
	height: inherit;
	text-transform: uppercase;
	font-size: 27px;
	padding-bottom: 10px;
	display: inline;
}
.fa-fire{
	margin-right: 8px;
	font-size: 33px;
	color: #C80A0D;
}
.container_category .container_product{
    margin-bottom: 15px;
    padding: 0 15px;
    height: inherit;
    width: 1150px;
    position: absolute;
    left: 25px;
    top: 70px;
}
.container_category .container_product .product{
	height: auto;
	width: 24%;;
	border: solid thin #FFFFFF;
	float: left;
}
.container_category .container_product .product .product_img{
	text-align: center;
	margin: 5px;
	padding: 10px;
	opacity: 1;
	transform: scale(1);
	position: relative;
}
.container_category .container_product .product .product_img .product_label{
    background: #FF9F03;
    color: white;
    border-radius: 6px;
    font-size: 13px;
	padding: 0 8px;
    line-height: 24px;
	position: absolute;
	top: 80%;
}
.container_category .container_product .product .product_name{
	text-decoration: none;
	color: black;
	font-size: 17px;
}
.container_category .container_product h3{
	margin-bottom: 10px;
}
.container_category .container_product .product .product_info{
	padding: 0 10px 10px;
}
.container_category .container_product .product .product_info .product_price{
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 10px;
	height: 30px;
	width: inherit;
}
.container_category .container_product .product .product_info .product_price .text_left{
	color: #C80A0D;
	font-weight: 700;
	font-size: 18px;
	float: left;
	height: 30px;
}
.container_category .container_product .product .product_info .product_price .text_right{
	text-align: right;
	float: right;
	height: 30px;
	color: #4a4a4a;
	font-size: 14px;
	line-height: 15px;
	margin-bottom: 0;
}
.container_category .container_product .product .product_info .product_price .text_right span{
	color: #a7a7b1;
	font-size: 14px;
	line-height: 16px;
}
.container_category .container_product .product .product_info .product_price .text_right p{
	text-decoration-line: line-through;
	margin: 0;
}
.container_category .container_product .product .product_info .config{
	background: #f8f9fa;
	padding-bottom: 40px;
	border-radius: 10px;
	padding: 15px;
}
.container_category .container_product .product .product_info .config .config_image{
	height: 45px;
	width: 45px;
	display: inline;
	padding: 10px;
	margin-top: 5px;
}
.container_category .container_product .product .product_info .config .config_text{
	font-size: 13px;
	color: #999999;
}
.container_category .container_product .product .product_info .config .config_image img{
	border-radius: 50%;
	border: solid thin #DDDDDD;
}
.container_category .container_product .product:hover{
	border: solid thin #DDDDDD;
	border-radius: 10px;
}
.container_category .container_product .product .product_info .product_name:hover{
	color: blue;
}
.container_category .container_product .product .product_img img:hover{
	transform: scale(1.03);
	transition: all 0.5s;
}
.container_category .container_product .button_transform:hover{
	box-shadow: 2px 2px 5px;
}
.container_category .container_product .button_transform{
	position: absolute;
	color: #AAAAAA;
	font-size: 30px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	border: solid thin#FFFFFF;
	display: inline;
	margin: 0 5px;
}
#button_back{
	top: 40%;
	left: -1%;
}
#button_next{
	top: 40%;
	right: 2%;
}
